/*BASES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    padding: 10px;
}

body {
    background-color: #111; 
    color: white;           
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh;
}

#image_cov{
    margin: 0 50%;
    transform: translateX(-50%);
    width: 650px;
    border-radius: 10px;
    
}

#logo {
    width: 150px;
}

/*HEADER*/
header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    border-bottom: 3px solid #d13639; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header h1 {
    color: #d13639;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 24px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

nav a:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;       
    height: 2px;
    width: 100%;
    background: #d13639;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


nav a:nth-child(-n+3):hover::after {
    transform: scaleX(1);
}

nav a:hover {
    color: white;
}

main {
    max-width: 1100px;
    margin: 0 auto; 
    padding: 20px 20px;
    height: 750px;
}

section {
    margin-bottom: 20px; 
}

section h2 {
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-left: 5px solid #d13639;
    padding-left: 15px;
}


.actions-boutons {
    display: flex;
    gap: 13px;
    justify-content: center;
}

.bouton-rouge {
    background-color: #d13639;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.bouton-rouge:hover {
    background-color: #b02a2d;
}


.grille-voitures {
    display: flex;
    flex-wrap: wrap; 
    gap: 30px;       
    justify-content: center; 
}

.carte-voiture {
    background-color: #1f1f1f; 
    width: 300px;              
    border-radius: 4px;
    overflow: hidden;        
    box-shadow: 0 4px 10px rgba(0,0,0,0.5); 
    border: 1px solid #333;    
    display: flex;
    flex-direction: column;    
    transition: transform 0.3s; 
}


.carte-voiture:hover {
    transform: translateY(-5px); 
    border-color: #d13639;       
}


.carte-voiture img {
    width: 100%;
    height: 200px;    
    object-fit: cover; 
}


.contenu-carte {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.contenu-carte h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

.contenu-carte p {
    color: #aaa; 
    font-size: 14px;
    margin-bottom: 20px;
}

.contenu-carte .bouton-rouge {
    margin-top: auto; 
    width: 100%;
}

/*footer*/
footer {
    background-color: #0a0a0a;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: auto; 
}

footer a {
    color: #666;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
}

footer a:hover {
    color: #d13639;
}

