/*BASES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#logo {
    width: 150px;
}

/*HEADER*/
header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    border-bottom: 3px solid #d13639;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

nav a:nth-child(-n+3)::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;       
    height: 2px;
    width: 100%;
    background: #d13639;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


nav a:nth-child(-n+3):hover::after {
    transform: scaleX(1);
}

nav a:hover {
    color: white;
}


.bouton-rouge {
    background-color: #d13639;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px; 
    font-weight: bold;
    display: inline-block; 
    transition: 0.3s; 
    border-radius: 10px;
}

.bouton-rouge:hover {
    background-color: #b02a2d; 
}


/*MAIN*/
main {
    flex-grow: 1;
    padding: 40px 20px;
}

.conteneur-principal {
    max-width: 1000px; 
    margin: 0 auto;    
}

h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 32px;
    border-left: 5px solid #d13639;
    padding-left: 15px;
}


.carte-vehicule {
    background-color: #1f1f1f; 
    display: flex;             
    margin-bottom: 30px;       
    border-radius: 4px;
    overflow: hidden;          
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    border: 1px solid #333;
    height: 220px;             
}


.coin-image {
    width: 35%; 
}

.coin-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}


.coin-infos {
    width: 65%;
    padding: 20px;
    position: relative; 
    display: flex;
    flex-direction: column;
}

.nom-loueur {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.coin-infos h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.details {
    color: #ddd;
    margin-bottom: 10px;
}

.description {
    color: #aaa;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Bouton Louer */
.bouton-louer {
    background-color: #d13639;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    align-self: flex-start; 
    margin-top: auto; 
}

.bouton-louer:hover {
    background-color: #b02a2d;
}

/* --- Zone "Voir plus" --- */
.zone-voir-plus {
    text-align: center;
    margin-top: 40px;
}

.bouton-secondaire {
    background-color: transparent;
    border: 2px solid #444;
    color: #ccc;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.bouton-secondaire:hover {
    border-color: #d13639;
    color: white;
}

/*footer*/
footer {
    background-color: #0a0a0a;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: auto; 
}

footer a {
    color: #666;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
}

footer a:hover {
    color: #d13639;
}

