/*BASES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111; 
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

#logo {
    width: 150px;
}

/*HEADER*/
header {
    background-color: #1a1a1a;
    padding: 20px 40px;
    border-bottom: 3px solid #d13639; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

header h1 {
    color: #d13639;
    text-transform: uppercase;
    font-size: 24px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    display: inline-block;
}

nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;       
    height: 2px;
    width: 100%;
    background: #d13639;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}


nav a:hover::after {
    transform: scaleX(1);
}

nav a:hover {
    color: white;
}

/*MAIN*/
main {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 40px;
    height: 750px;
}

.boite-connexion {
    background-color: #1f1f1f; 
    width: 400px;              
    padding: 40px;
    border-top: 4px solid #d13639; 
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    text-align: center;
}

.boite-connexion h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 28px;
}


.boite-connexion label {
    display: block; 
    text-align: left;
    margin-bottom: 5px;
    color: #aaa;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.boite-connexion input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 3px;
}

.boite-connexion input:focus {
    outline: none;
    border-color: #d13639;
}


.boite-connexion button {
    width: 100%;
    padding: 12px;
    background-color: #d13639;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 3px;
}

.boite-connexion button:hover {
    background-color: #b02a2d;
}


.liens-bas {
    font-size: 14px;
    line-height: 2;
}

.lien-rouge {
    color: #d13639;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.lien-gris {
    color: #888;
    text-decoration: none;
    font-size: 12px;
}

/*footer*/
footer {
    background-color: #0a0a0a;
    padding: 40px;
    text-align: center;
    border-top: 1px solid #333;
    margin-top: auto; 
}

footer a {
    color: #666;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
    text-transform: uppercase;
}

footer a:hover {
    color: #d13639;
}
